<style>
  .box {
    width: 120px;
    height: 60px;
    border: 1px solid #333;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29e;
    font-size: 18px;
    color: #fff;
    user-select: none;
    touch-action: none;
    &.active {
      opacity: 0.75;
    }
  }

  .parent {
    width: 500px;
    height: 360px;
    overflow: auto;
    flex: 1;
    position: relative;
    outline: 2px solid #ccc;
    background-color: #fff;
  }

  .drop-active {
    border: dashed 2px orange;
  }

  .draggable {
    touch-action: none;
    user-select: none;
  }

  .auxline {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border: dashed 1px #29e;

    &.x {
      width: 100%;
    }
    &.y {
      height: 100%;
    }
  }
</style>

<body>
  <div class="parent" data-key="aaa">
    <div class="auxline x top"></div>
    <div class="auxline x bottom"></div>
    <div class="auxline y left"></div>
    <div class="auxline y right"></div>

    <div class="box" id="box1" data-parent-key="aaa">Box1</div>
    <div
      class="box"
      id="box2"
      style="transform: translate(136px, 64px)"
      data-parent-key="aaa"
      data-x="136"
      data-y="64">
      Box2
    </div>
    <div
      class="box"
      id="box3"
      style="transform: translate(244px, 160px)"
      data-parent-key="aaa"
      data-x="244"
      data-y="160">
      Box3
    </div>
  </div>

  <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
  <script>
    const range = 12;
    const lineThickness = 1;

    const auxiliaryLines = {
      horizontalTop: document.querySelector('.auxline.x.top'),
      horizontalBottom: document.querySelector('.auxline.x.bottom'),
      verticalLeft: document.querySelector('.auxline.y.left'),
      verticalRight: document.querySelector('.auxline.y.right'),
    };

    // 显示辅助线的函数
    const showAuxiliaryLines = ({ target }, cursorX, cursorY) => {
      const { offsetWidth: targetWidth, offsetHeight: targetHeight } = target;

      // 计算水平辅助线的位置
      const topY = cursorY - range;
      const bottomY = cursorY + targetHeight + range;

      // 显示或隐藏水平辅助线
      toggleAuxiliaryLine('horizontalTop', topY, `[data-y="${topY}"]`, target);
      toggleAuxiliaryLine(
        'horizontalBottom',
        bottomY,
        `[data-y="${bottomY}"]`,
        target
      );

      // 计算垂直辅助线的位置
      const leftX = cursorX - targetWidth - range;
      const rightX = cursorX + targetWidth + range;

      // 显示或隐藏垂直辅助线
      toggleAuxiliaryLine(
        'verticalLeft',
        leftX + targetWidth,
        `[data-x="${leftX}"]`,
        target
      );
      toggleAuxiliaryLine(
        'verticalRight',
        rightX,
        `[data-x="${rightX}"]`,
        target
      );
    };

    // 显示或隐藏辅助线的通用函数
    const toggleAuxiliaryLine = (lineKey, position, selector, target) => {
      const elementNearPosition = document.querySelector(selector);

      if (elementNearPosition && !elementNearPosition.contains(target)) {
        const transformProperty = lineKey.startsWith('horizontal')
          ? 'translateY'
          : 'translateX';
        auxiliaryLines[lineKey].style.transform = `${transformProperty}(${
          position - lineThickness
        }px)`;
        auxiliaryLines[lineKey].style.display = 'block';
      } else {
        auxiliaryLines[lineKey].style.display = 'none';
      }
    };

    const position2 = { x: 0, y: 0 };
    const draggable = interact('#box1');
    draggable
      .draggable({
        autoScroll: {
          container: document.querySelector('.parent'),
          margin: 50,
          distance: 5,
          interval: 10,
          speed: 300,
        },
        modifiers: [
          interact.modifiers.snap({
            targets: [interact.snappers.grid({ x: range, y: range })],
            range,
            relativePoints: [{ x: 0, y: 0 }],
          }),
          interact.modifiers.restrictRect({
            restriction: null,
            endOnly: true,
          }),
        ],
        onstart(event) {
          event.target.classList.add('active');
          document
            .querySelector('[data-key="aaa"]')
            .classList.add('drop-active');
        },
        onmove(event) {
          position2.x += event.dx;
          position2.y += event.dy;
          event.target.style.transform = `translate(${position2.x}px, ${position2.y}px)`;
          showAuxiliaryLines(event, position2.x, position2.y);
        },
        onend(event) {
          event.target.dataset.x = position2.x;
          event.target.dataset.y = position2.y;
          event.target.classList.remove('active');

          auxiliaryLines.horizontalTop.style.display = 'none';
          auxiliaryLines.horizontalBottom.style.display = 'none';
          auxiliaryLines.verticalLeft.style.display = 'none';
          auxiliaryLines.verticalRight.style.display = 'none';

          document
            .querySelector('[data-key="aaa"]')
            .classList.remove('drop-active');
        },
        cursorChecker(action, interactable, element, interacting) {
          return interacting ? 'grabbing' : 'grab';
        },
      })
      .resizable({
        modifiers: [
          interact.modifiers.restrict({
            restriction: null,
            endOnly: true,
          }),
        ],
        autoScroll: true,
        invert: 'reposition',
        edges: { top: true, left: true, bottom: true, right: true },
        onmove(event) {
          let { x, y } = event.target.dataset;
          event.target.style.background = 'red';
          x = (position2.x || Math.floor(x) || 0) + event.deltaRect.left;
          y = (position2.y || Math.floor(y) || 0) + event.deltaRect.top;

          Object.assign(event.target.style, {
            width: `${event.rect.width}px`,
            height: `${event.rect.height}px`,
            transform: `translate(${x}px, ${y}px)`,
          });

          position2.x = x;
          position2.y = y;

          Object.assign(event.target.dataset, { x, y });
        },
        onend(event) {
          event.target.style.background = '#29e';
        },
      });
  </script>
</body>
